@import '~react-md/src/scss/react-md';

// Theme builder: https://react-md.mlaursen.com/customization/theme-builder
$md-light-theme: true;
$md-primary-color: $md-blue-500;
$md-secondary-color: $md-light-blue-a-200;

@include react-md-everything;